@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=PT+Sans+Narrow:wght@400;700&display=swap');

:root {
    --primary_color: #e94b23;
    --second_color: #121618;
    --thirst_color: #dce4e8;
    --primary_color_hover: #FF6919;
}

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

/** MODAL PRODUCT */
.__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: none;
}

.__modal .__btn_close {
    font-size: var(--font-big);
    color: var(--thirst_color);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    display: flex;
}

.__modal .__btn_close:hover {
    color: var(--primary_color);
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.__modal .__modal_content {
    justify-content: flex-start;
    align-items: flex-start;
}

.__modal_content .__modal_content_cover {
    flex-basis: 35%;
}

.__modal_content .__modal_content_desc {
    flex-basis: calc(65% - 40px);
    margin-left: 40px;
    padding: 40px;
    background-color: var(--second_color);
    color: var(--thirst_color);
}

.__modal_content .__modal_content_desc h2 {
    font-size: var(--font-big);
    font-weight: 400;
    color: var(--primary_color);
    margin-bottom: 10px;
}

.__modal_content .__modal_content_desc .__price {
    font-size: var(--font-medium);
    color: var(--primary_color);
}

.__modal_content_desc .__modal_content_desc_text {
    font-size: var(--font-normal);
    margin-top: 40px;
}

.__modal_content_desc .__modal_content_desc_text p {
    line-height: 1.5;
}

.__modal_content_desc_text .__modal_content_desc_text_control {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.__modal_content_desc_text_control .form-control {
    width: 40px;
    height: 40px;
    padding: 7px;
    background-color: transparent;
    color: var(--thirst_color);
    border: 2px solid var(--thirst_color);
    margin-right: 7px;
    text-align: center;
}

.__modal_content_desc_text_control .__btn_add_to_cart {
    border: 2px solid var(--primary_color);
    background-color: var(--primary_color);
    color: var(--thirst_color);
    padding: 8px 20px;
}

.__modal_content_desc_text_control .__btn_add_to_cart:hover {
    background-color: var(--primary_color_hover);
    border-color: var(--primary_color_hover);
}

.__main_header {
    background-color: var(--second_color);
    position: relative;
}

.__main_header:after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -20px;
    left: 0;
    background-image: linear-gradient(rgba(18, 22, 24, 1), rgba(18, 22, 24, 1)),
    linear-gradient(-45deg, transparent 75%, rgba(18, 22, 24, 1) 75%),
    linear-gradient(45deg, transparent 75%, rgba(18, 22, 24, 1) 75%);
    z-index: 99;
    display: block;
    border: solid transparent;
    border-width: 10px 0;
    background-color: hsla(0, 0%, 0%, 0);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 0, 0 0, 0 100%, 0 100%;
    background-size: auto auto, 15px 15px, 15px 15px, 15px 15px, 15px 15px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
}

.__main_header .__main_header_content {
    margin-bottom: 0;
}

/** BTN MENU MOBILE */
.__main_header .__btn_open_menu {
    width: 40px;
    height: 40px;
    background-color: var(--second_color);
    border: 2px solid var(--thirst_color);
    position: fixed;
    z-index: 100;
    top: 20px;
    right: 20px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

.__main_header .__btn_open_menu.active {
    background-color: var(--primary_color);
    border-color: var(--primary_color);
}

.__main_header .__btn_open_menu:hover {
    background-color: var(--primary_color);
    border-color: var(--primary_color);
}

.__main_header .__btn_open_menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--thirst_color);
    margin-bottom: 5px;
}

.__main_header .__btn_open_menu span:last-of-type {
    margin-bottom: 0;
}

.__main_header .__btn_open_menu.active span {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
}

.__main_header .__btn_open_menu.active span:first-of-type {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 7px;
}

.__main_header .__btn_open_menu.active span:last-of-type {
    display: none;
}

/** MENU MONILE */
.__main_header .__main_header_mobile {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    max-width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #ffffff;
}

.__main_header_mobile .__main_header_content_cart {
    border-bottom: 1px solid var(--thirst_color);
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
}

.__main_header_mobile .__main_header_content_cart .price_items span,
.__main_header_mobile .__main_header_content_cart .price_items a,
.__main_header_mobile .__main_header_content_cart .cart a {
    color: var(--second_color);
    text-align: left;
}

.__main_header_mobile .__main_header_content_cart .cart a span {
    left: -3px;
}

.__main_header_mobile .nav_list a {
    padding: 10px 20px;
    font-size: var(--font-medium);
    color: var(--second_color);
    display: block;

    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
}

.__main_header_mobile .nav_list a:hover {
    background-color: var(--primary_color);
    color: var(--thirst_color);
}

.__main_header_mobile .__main_header_content_contact {
    margin-top: 40px;
    padding: 20px 0;
}

.__main_header_mobile .__main_header_content_contact .icons span,
.__main_header_mobile .__main_header_content_contact .contacts span {
    color: var(--second_color);
}

.__main_header .__main_header_content {
    align-items: center;
    justify-content: flex-start;
}

.__main_header_content .__main_header_content_contact,
.__main_header_content .__main_header_content_cart {
    flex-basis: 25%;
}

.__main_header_content_contact {
    align-items: center;
    justify-content: flex-start;
}

.__main_header_content_contact .icons {
    flex-basis: 60px;
    text-align: center;
}

.__main_header_content_contact .icons span {
    color: var(--thirst_color);
    font-size: var(--font-master);
}

.__main_header_content_contact .contacts {
    flex-basis: calc(100% - 60px);
}

.__main_header_content_contact .contacts span {
    display: block;
    color: var(--thirst_color);
    margin-bottom: 7px;
    font-size: var(--font-normal);
    letter-spacing: 2px;
}

.__main_header_content_contact .contacts .hours {
    color: #888888;
}

/** logo and menu */
.__main_header_content .__main_header_content_logo_menu {
    flex-basis: 50%;
    text-align: center;
    padding: 40px 0;
}

.__main_header_content_logo_menu img {
    max-width: 150px;
    width: 100%;
    margin: 0 auto 20px;
}

.__main_header_content_logo_menu .nav_list {
    width: 100%;
}

.__main_header_content_logo_menu .nav_list ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.__main_header_content_logo_menu .nav_list ul a {
    padding: 7px 14px;
    font-size: var(--font-normal);
    text-transform: uppercase;
    color: var(--thirst_color);
    letter-spacing: 2px;
    position: relative;

    transition-duration: var(--duration);
    -moz-transition-duration: var(--duration);
    -webkit-transition-duration: var(--duration);
}

.__main_header_content_logo_menu .nav_list ul a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 14px;
    border: 1px solid var(--primary_color);
    width: 0;
    opacity: 0;

    transition-duration: var(--duration);
    -moz-transition-duration: var(--duration);
    -webkit-transition-duration: var(--duration);
}

.__main_header_content_logo_menu .nav_list ul a:hover {
    color: #FB4712;
}

.__main_header_content_logo_menu .nav_list ul a:hover::after {
    width: 50%;
    opacity: 1;
}

.__main_header_content_logo_menu .nav_list li.active a {
    color: var(--primary_color);
}

.__main_header_content_logo_menu .nav_list li.active a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 14px;
    border: 1px solid var(--primary_color);
    width: 50%;
    opacity: 1;
}

/** cart */
.__main_header_content .__main_header_content_cart {
    align-items: center;
    justify-content: flex-end;
}

.__main_header_content_cart .price_items {
    flex-basis: calc(100% - 60px);
}

.__main_header_content_cart .price_items span {
    font-size: var(--font-normal);
    color: var(--thirst_color);
    text-align: right;
    display: block;
    margin-bottom: 4px;
}

.__main_header_content_cart .price_items a {
    color: #888888;
    display: block;
    text-align: right;
    letter-spacing: 2px;
}

.__main_header_content_cart .price_items a:hover {
    color: #FB4712;
}

.__main_header_content_cart .cart {
    flex-basis: 60px;
}

.__main_header_content_cart .cart a {
    position: relative;
    display: block;
    color: var(--thirst_color);
    font-size: var(--font-large);
    text-align: right;
}

.__main_header_content_cart .cart a span {
    position: absolute;
    top: -3px;
    right: -3px;
    font-size: .4em;
    width: 18px;
    height: 18px;
    background-color: #FB4712;
    text-align: center;
}

/** SLIDESHOW */
.__main_slide_show {
    width: 100%;
    padding: 120px 0;
    background: url('../img/slide-banner.jpg') no-repeat center var(--second_color);
    background-size: cover;
    position: relative;
}

.__main_slide_show .__main_slide_show_content {
    align-items: center;
    justify-content: flex-start;
    display: none;
}

.__main_slide_show .__main_slide_show_content.active {
    display: flex;
}

.__main_slide_show_content .__slide_show_content_title {
    flex-basis: 60%;
    color: var(--thirst_color);
    padding: 0 60px;
}

.__slide_show_content_title h2 {
    font-size: 3.75em;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 400;
}

.__slide_show_content_title h3 {
    font-size: 1.8em;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--thirst_color);
}

.__slide_show_content_title .__slide_show_content_title_footer {
    margin-top: 40px;
}

.__slide_show_content_title_footer p {
    font-size: var(--font-medium);
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-weight: 400;
}

.__slide_show_content_title_footer .btn {
    margin-right: 10px;
    padding: 10px 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.__slide_show_content_title_footer .btn_first {
    background-color: transparent;
    border: 2px solid var(--thirst_color);
    color: var(--thirst_color);
}

.__slide_show_content_title_footer .btn_first:hover {
    border-color: var(--primary_color);
    color: var(--primary_color);
}

.__slide_show_content_title_footer .btn_second {
    background-color: var(--primary_color);
    border: 2px solid var(--primary_color);
    color: var(--thirst_color);
}

.__slide_show_content_title_footer .btn_second:hover {
    background-color: transparent;
    color: var(--primary_color);
}

.__main_slide_show_content .__slide_show_content_cover {
    flex-basis: 40%;
    padding: 0 60px;
}

/** INTRODUCTION */
.__introduction {
    padding: 80px 0;
    background: url('../img/back_2.png') no-repeat center var(--primary_color);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.__introduction .__introduction_content {
    justify-content: center;
    align-items: flex-start;
}

.__introduction_content .__introduction_content_article {
    flex-basis: calc(33% - 20px);
    margin: 0 10px;
}

.__introduction_content_article img {
    width: 94px;
    margin: 0 auto 20px;
    display: block;
}

.__introduction_content_article h2 {
    text-align: center;
    font-size: var(--font-big);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.__introduction_content_article p {
    font-size: var(--font-medium);
    text-align: center;
    line-height: 1.5;
}

/** PRODUCT MENU */
.__product_menu {
    background-color: var(--second_color);
    padding: 80px 0 20px;
    border-top: 1px solid rgba(255, 255, 255, .1);
}

.__product_menu_second {
    padding: 40px 0;
}

.__product_menu .__product_menu_headline {
    text-align: center;
    margin-bottom: 40px;
}

.__product_menu_headline h1 {
    font-size: var(--font-big);
    text-transform: uppercase;
    color: var(--thirst_color);
    letter-spacing: 5px;
    font-weight: 400;
}

.__product_menu .__product_menu_list {
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.__product_menu_list a {
    color: var(--thirst_color);
    padding: 7px 14px;
    font-size: var(--font-medium);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;

    transition-duration: var(--duration);
    -moz-transition-duration: var(--duration);
    -webkit-transition-duration: var(--duration);
}

.__product_menu_list .active {
    color: var(--primary_color);
}

.__product_menu_list a:hover {
    color: var(--primary_color);
}

.__product_menu .__product_menu_content {
    justify-content: space-between;
    align-items: flex-start;
}

.__product_menu_content .__product_menu_content_article {
    flex-basis: calc(25% - 20px);
    margin: 0 0 40px;
    padding: 20px;

    transition-duration: var(--duration);
    -moz-transition-duration: var(--duration);
    -webkit-transition-duration: var(--duration);
}

.__product_menu_content .__product_menu_content_article:hover {
    background-color: #111;
}

.__product_menu_content_article a {
    width: 100%;
    text-align: center;
    color: var(--thirst_color);
    position: relative;
}

.__product_menu_content .__product_menu_content_article:hover a {
    color: var(--primary_color);
}

.__product_menu_content_article .__add_to_cart {
    width: 194px;
    height: 194px;
    overflow: hidden;
    margin: 0 auto 20px;
    display: block;
    border-radius: var(--rounded);
    -moz-border-radius: var(--rounded);
    -webkit-border-radius: var(--rounded);
}

.__product_menu_content_article .__add_to_cart:after {
    content: url("../img/icon-zoom-in.png");
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(233, 75, 35, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transition-duration: var(--duration);
    -moz-transition-duration: var(--duration);
    -webkit-transition-duration: var(--duration);
}

.__product_menu_content .__product_menu_content_article:hover .__add_to_cart:after {
    opacity: 1;
}

.__product_menu_content_article img {
    width: 100%;
    display: block;
    margin: 0 auto 20px;
}

.__product_menu_content_article h2 {
    color: var(--thirst_color);
    text-transform: uppercase;
    font-size: var(--font-medium);
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 4px;
}

.__product_menu_content_article p {
    font-size: var(--font-normal);
    line-height: 1.5;
    text-align: center;
    color: var(--thirst_color);
}

.__product_menu_content_article p span {
    font-size: var(--font-big);
}

/** DIVIDER  */
.__divider {
    padding: 80px 0;
    background-color: var(--yellow);
    position: relative;
}

.__divider:after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(18, 22, 24, 1), rgba(18, 22, 24, 1)),
    linear-gradient(-45deg, transparent 75%, rgba(18, 22, 24, 1) 75%),
    linear-gradient(45deg, transparent 75%, rgba(18, 22, 24, 1) 75%);
    z-index: 10;
    display: block;
    border: solid transparent;
    border-width: 10px 0;
    background-color: hsla(0, 0%, 0%, 0);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 0, 0 0, 0 100%, 0 100%;
    background-size: auto auto, 15px 15px, 15px 15px, 15px 15px, 15px 15px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;
}

.__divider h3 {
    text-align: center;
    font-size: var(--font-big);
    text-transform: uppercase;
    font-weight: 400;
}

/** CONTACT */
.__contact {
    padding: 80px 0;
    background-color: var(--second_color);
    border-bottom: 1px solid #1d2326;;
}

.__contact .__contact_headline {
    text-align: center;
    margin-bottom: 40px;
}

.__contact .__contact_headline h1 {
    font-size: var(--font-big);
    text-transform: uppercase;
    color: var(--thirst_color);
    letter-spacing: 5px;
    font-weight: 400;
}

.__contact .__contact_form_content {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

.__contact .__contact_form_content .form-control {
    background-color: transparent;
    border-width: 2px;
    border-color: #1d2326;
    color: var(--thirst_color);
    padding: 12px;
    font-size: var(--font-normal);
}

.__contact .__contact_form_content .btn_submit {
    margin-top: 10px;
    display: block;
    width: 100%;
    background-color: #1d2326;
    text-transform: uppercase;
    padding: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.__contact .__contact_form_content .btn_submit:hover {
    background-color: var(--primary_color);
    color: var(--thirst_color);
}

.__main_footer {
    padding: 80px 0;
    background-color: var(--second_color);
}

.__main_footer .__main_footer_content {
    align-items: flex-start;
    justify-content: center;
}

.__main_footer .__main_footer_content div {
    flex-basis: 100%;
    padding: 0 10px;
    text-align: center;
}

.__main_footer_content .__company {
    text-align: left;
    color: var(--thirst_color);
    font-size: var(--font-normal);
}

.__main_footer_content .__company p {
    letter-spacing: 3px;
}

.__main_footer_content .__company img {
    width: 100px;
    display: block;
    margin: 0 auto 40px;
}

.__main_footer_content .__company span {
    opacity: .4;
}

.__menunav {
    margin-top: 20px;
}

.__menunav .__menunav_list {
    align-items: center;
    justify-content: center;
}

.__menunav .__menunav_list a {
    padding: 7px 15px;
    font-size: var(--font-normal);
    color: #dce4e8;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.__menunav .__menunav_list a:hover {
    color: var(--primary_color);
}

.__menunav .__menunav_list_social a {
    padding: 7px;
    font-size: var(--font-medium);
}

.__main_footer .__main_footer_copy {
    text-align: center;
    text-transform: uppercase;
    color: #dce4e8;
    opacity: .4;
    margin-top: 40px;
    letter-spacing: 2px;
    font-size: var(--font-small);
}

/** BTN UP */
.__btn_up_content {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 100;
    display: none;
}

.__btn_up_content .btn_up {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: var(--primary_color);
    border: 2px solid var(--primary_color);
    font-size: var(--font-medium);
    text-align: center;
    color: var(--thirst_color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.__btn_up_content .btn_up:hover {
    background-color: var(--primary_color_hover);
    border: 2px solid var(--primary_color_hover);
}

/** MEDIA QUERIES */
/** 992PX */
@media (max-width: 62em) {
    .__main_header_content.__desktop .__main_header_content_contact,
    .__main_header_content.__desktop .__main_header_content_cart,
    .__main_header_content.__desktop .__main_header_content_logo_menu .nav_list {
        display: none;
    }

    .__main_header_content .__main_header_content_logo_menu {
        flex-basis: 100%;
    }

    .__main_header_content_logo_menu img {
        margin: 0 auto;
    }

    .__main_header .__btn_open_menu {
        display: block;
    }

    .__main_slide_show {
        padding-top: 40px;
        padding-bottom: 0px;
        max-height: 600px;
    }

    .__main_slide_show .__main_slide_show_content {
        flex-direction: row-reverse;
        margin-bottom: 0;
    }

    .__main_slide_show_content .__slide_show_content_title,
    .__main_slide_show_content .__slide_show_content_cover {
        flex-basis: 100%;
    }

    .__main_slide_show_content .__slide_show_content_title {
        order: 1;
        background-color: rgba(0, 0, 0, .9);
        padding: 20px;
        position: relative;
        bottom: -40px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }

    .__slide_show_content_title h2 {
        font-size: var(--font-large);
    }

    .__slide_show_content_title h3 {
        font-size: 1.5em;
    }

    .__main_slide_show_content .__slide_show_content_cover img {
        width: 300px;
        margin: 0 auto;
        display: block;
    }

    .__slide_show_content_title .__slide_show_content_title_footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .__slide_show_content_title_footer .btn {
        flex-basis: 49%;
        margin: 0;
    }

    /** HOT SALES */
    .__product_menu_content .__product_menu_content_article {
        flex-basis: calc(50% - 20px);
    }

}

/** 768PX */
@media (max-width: 48em) {
    .__introduction_content .__introduction_content_article {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .__product_menu {
        padding: 40px 0;
    }

    .__product_menu_list a {
        font-size: var(--font-normal);
    }

    .__product_menu_content .__product_menu_content_article {
        margin-bottom: 20px;
    }

    .__divider {
        padding: 40px 0;
    }

    .__divider h3 {
        font-size: var(--font-medium);
    }

    .__introduction {
        padding-bottom: 40px;
    }

    .__contact {
        padding: 40px 0 80px;
    }

    .__main_footer {
        padding: 40px 0;
    }
}

/** 560PX */
@media (max-width: 35em) {
    .__slide_show_content_title h2 {
        font-size: var(--font-big);
    }

    .__slide_show_content_title h3 {
        font-size: var(--font-medium);
    }

    .__slide_show_content_title .__slide_show_content_title_footer {
        margin-top: 20px;
    }

    .__slide_show_content_title_footer p {
        font-size: var(--font-normal);
    }

    .__slide_show_content_title_footer .btn {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    .__slide_show_content_title_footer .btn:last-of-type {
        margin-bottom: 0;
    }

    .__product_menu_content .__product_menu_content_article {
        flex-basis: 100%;
    }

    .__menunav_list_first li {
        flex-basis: 100%;
    }

    .__menunav_list_first li a:hover{
        display: block;
        background-color: #1d2326;
    }
}